---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=347d7ad00e9036d0210f3760a97b5514&exclude=minutely,hourly,alerts&lat=40.7484&lon=-73.9967
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.7484,"lon":-73.9967,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1740469953,"sunrise":1740483353,"sunset":1740523348,"temp":278.45,"feels_like":275.04,"pressure":1011,"humidity":58,"dew_point":271.13,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":4.63,"wind_deg":230,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"daily":[{"dt":1740502800,"sunrise":1740483353,"sunset":1740523348,"moonrise":1740479280,"moonset":1740513420,"moon_phase":0.91,"summary":"Expect
        a day of partly cloudy with clear spells","temp":{"day":282.51,"min":276.88,"max":283.52,"night":278.71,"eve":281.9,"morn":277.29},"feels_like":{"day":281.13,"night":276.21,"eve":279.43,"morn":275.05},"pressure":1008,"humidity":56,"dew_point":274.09,"wind_speed":5.22,"wind_deg":275,"wind_gust":14.39,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"clouds":100,"pop":0,"uvi":2.59},{"dt":1740589200,"sunrise":1740569664,"sunset":1740609818,"moonrise":1740567720,"moonset":1740604380,"moon_phase":0.95,"summary":"Expect
        a day of partly cloudy with rain","temp":{"day":282.12,"min":276.36,"max":284.39,"night":280.73,"eve":282.84,"morn":277.62},"feels_like":{"day":279.89,"night":280.22,"eve":281.61,"morn":274.81},"pressure":1012,"humidity":45,"dew_point":270.83,"wind_speed":5.29,"wind_deg":312,"wind_gust":11.84,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"clouds":9,"pop":0.23,"rain":0.13,"uvi":3.56},{"dt":1740675600,"sunrise":1740655973,"sunset":1740696287,"moonrise":1740655800,"moonset":1740695460,"moon_phase":0,"summary":"Expect
        a day of partly cloudy with rain","temp":{"day":281.18,"min":278.51,"max":285.44,"night":279.23,"eve":283.12,"morn":278.7},"feels_like":{"day":278.89,"night":275.81,"eve":280.48,"morn":278.7},"pressure":1004,"humidity":98,"dew_point":280.77,"wind_speed":6.52,"wind_deg":256,"wind_gust":14.73,"weather":[{"id":501,"main":"Rain","description":[...]
- request:
    method: get
    uri: http://api.openweathermap.org/geo/1.0/zip?appid=347d7ad00e9036d0210f3760a97b5514&zip=10001,US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"zip":"10001","name":"New York","lat":40.7484,"lon":-73.9967,"country":"US"}'
  recorded_at: Wed, 26 Feb 2025 01:05:41 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=347d7ad00e9036d0210f3760a97b5514&exclude=minutely,hourly,alerts&lat=40.7484&lon=-73.9967&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.7484,"lon":-73.9967,"timezone":"America/New_York","ti[...]
