---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/geo/1.0/zip?appid=347d7ad00e9036d0210f3760a97b5514&zip=10001,US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"zip":"10001","name":"New York","lat":40.7484,"lon":-73.9967,"country":"US"}'
  recorded_at: Tue, 25 Feb 2025 08:16:19 GMT
recorded_with: VCR 6.3.1
