---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/geo/1.0/zip?appid=347d7ad00e9036d0210f3760a97b5514&zip=10001,US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"zip":"10001","name":"New York","lat":40.7484,"lon":-73.9967,"country":"US"}'
  recorded_at: Tue, 25 Feb 2025 06:29:38 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=347d7ad00e9036d0210f3760a97b5514&exclude=minutely,hourly,alerts&lat=40.7484&lon=-73.9967
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.7484,"lon":-73.9967,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1740464978,"sunrise":1740483353,"sunset":1740523348,"temp":278.97,"feels_like":276.25,"pressure":1013,"humidity":54,"dew_point":270.71,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":3.6,"wind_deg":230,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"daily":[{"dt":1740502800,"sunrise":1740483353,"sunset":1740523348,"moonrise":1740479280,"moonset":1740513420,"moon_phase":0.91,"summary":"Expect
        a day of partly cloudy with clear spells","temp":{"day":282.42,"min":276.6,"max":284.21,"night":278,"eve":281.72,"morn":276.76},"feels_like":{"day":280.93,"night":274.54,"eve":279.2,"morn":274.33},"pressure":1009,"humidity":57,"dew_point":274.19,"wind_speed":5.39,"wind_deg":271,"wind_gust":14.39,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"clouds":100,"pop":0,"uvi":2.59},{"dt":1740589200,"sunrise":1740569664,"sunset":1740609818,"moonrise":1740567720,"moonset":1740604380,"moon_phase":0.95,"summary":"Expect
        a day of partly cloudy with clear spells","temp":{"day":281.03,"min":275.59,"max":283.63,"night":279.65,"eve":282.09,"morn":275.71},"feels_like":{"day":278.41,"night":278.02,"eve":281.42,"morn":274.04},"pressure":1014,"humidity":52,"dew_point":271.63,"wind_speed":4.76,"wind_deg":314,"wind_gust":10.44,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"clouds":37,"pop":0,"uvi":3.56},{"dt":1740675600,"sunrise":1740655973,"sunset":1740696287,"moonrise":1740655800,"moonset":1740695460,"moon_phase":0,"summary":"Expect
        a day of partly cloudy with rain","temp":{"day":282.92,"min":278.47,"max":284.12,"night":279.56,"eve":282.39,"morn":279.12},"feels_like":{"day":280.68,"night":276.19,"eve":279.95,"morn":277.12},"pressure":1004,"humidity":85,"dew_point":280.54,"wind_speed":7.02,"wind_deg":213,"wind_gust":14.47,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10d"}],"clouds":100,"pop":1,"rain":3.15,"uvi":1.08},{"dt":1740762000,"sunrise":1740742282,"sunset":1740782755,"moonrise":1740743760,"moonset":1740786420,"moon_phase":0.03,"summary":"There
        will be partly cloudy today","temp":{"day":281.61,"min":275.84,"max":281.61,"night":276.18,"eve":277.09,"morn":275.84},"feels_like":{"day":277.93,"night":274.71,"eve":273.5,"morn":272.19},"pressure":1005,"humidity":32,"dew_point":265.75,"wind_speed":7.6,"wind_deg":287,"wind_gust":10.46,"weather":[{"id":802,"main":"Clouds","description":"[...]
