<p><%= flash[:alert] %></p>
<%= form_with(model: @forecast, url: forecasts_path, method: :get) do |form| %>
  <input style="width: 50%" id="autocomplete" type="text" placeholder="Enter a location" />
  <input type="hidden" name="country_code" id="country_code" />
  <input type="hidden" name="zip_code" id="zip_code" />
  <%= form.submit "Show Forecast" %>
<% end %>

<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_PLACES_API_KEY']}&loading=async&libraries=places&callback=initMap" %>

<script>
  let autocomplete;

  function initMap() {
    const input = document.getElementById("autocomplete");
    autocomplete = new google.maps.places.Autocomplete(input);

    autocomplete.addListener("place_changed", function() {
      const place = autocomplete.getPlace();

      if (place && place.address_components) {
        for (const component of place.address_components) {
          const componentType = component.types[0];

          switch(componentType) {
            case "country":
              document.getElementById("country_code").value = component.short_name;
              break;
            case "postal_code":
              document.getElementById("zip_code").value = component.short_name;
              break;
          }
        }
      }
    });
  }
</script>
