<section class="vh-100" style="background-size: 100% 100%; background-image: url('https://images.unsplash.com/photo-1592210454359-9043f067919b?q=80&w=3540&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
  <h1 class="text-center" style="padding-top: 40vh">Weather Forecaster</h1>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <p><%= flash[:alert] %></p>
      <%= form_with(model: @forecast, url: forecasts_path, method: :get) do |form| %>
        <div class="input-group">
          <input id="autocomplete" type="search" placeholder="Enter a location" class="form-control" />
          <input type="hidden" name="country_code" id="country_code" />
          <input type="hidden" name="zip_code" id="zip_code" />
          <%= form.submit "Show Forecast", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
    <div class="col-md-3"></div>
  </div>
</section>

<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_PLACES_API_KEY']}&loading=async&libraries=places&callback=initMap" %>

<script>
  let autocomplete;

  function initMap() {
    const input = document.getElementById("autocomplete");
    autocomplete = new google.maps.places.Autocomplete(input);

    autocomplete.addListener("place_changed", function() {
      const place = autocomplete.getPlace();

      if (place && place.address_components) {
        for (const component of place.address_components) {
          const componentType = component.types[0];

          switch(componentType) {
            case "country":
              document.getElementById("country_code").value = component.short_name;
              break;
            case "postal_code":
              document.getElementById("zip_code").value = component.short_name;
              break;
          }
        }
      }
    });
  }
</script>
